#map {
  height: 100%;
  /* zoom: 200%; */
  /* height: 400%;
    top: -100%;
    left: -100%;
    width: 400%; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#toggleArrows {
  position: absolute;
  top: 0;
  width: 80px;
  height: 40px;
}

#centerMap {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80px;
  height: 50px;
  background-color: rgb(220, 220, 220);
  /* background-image: "images/center.png"; */
}

#readyButton {
  position: absolute;
  top: 0;
  left: 80px;
  height: 50px;
  background-color: rgb(220, 220, 220);
  width: 80px;
}

#doneSection {
  position: absolute;
  /* bottom:0; */
  /* left: 0; */
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  background-color: rgb(220, 220, 220);
}

#activateSensors {
  position: absolute;
  /* bottom:0; */
  /* left: 0; */
  top: 0;
  right: 0px;
  width: 80px;
  height: 50px;
  background-color: rgb(220, 220, 220);
}

#activateGPS {
  position: absolute;
  /* bottom:0; */
  /* left: 0; */
  top: 0;
  right: 80px;
  width: 80px;
  height: 50px;
  background-color: rgb(220, 220, 220);
}

#dialog-message {
  display: none;
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto; */
  /* font-size: 19px; */
  /* background: #fdf7f3ed */
}

#dialog-content {
  /* font-size: 19px; */
  /* background: #fdf7f3ed */
}

.sessions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 1px solid black;
}

#available-sessions {
  display: grid;
  /*grid-auto-flow: row;*/
  grid-template-columns: auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  align-items: center;
}
